

<ion-content >

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Bienvenido</h1>
      </ion-col>
    </ion-row>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="ingresar()">
      <ion-row>
        <ion-col size="12">
          <ion-item fill="solid">
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="text" ngModel type="text" formControlName="username" required></ion-input>
            <ion-note slot="helper">Ingrese el nombre del usuario</ion-note>

            <ion-note slot="error" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')">
              El campo no puede estar vacio
            </ion-note>
            
            <ion-note slot="error" *ngIf="loginForm.hasError('pattern', 'username')">
              El campo debe de ser solo texto
            </ion-note>

          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item fill="solid">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" ngModel email formControlName="email" required></ion-input>
            <ion-note slot="helper">Ingrese el email</ion-note>

            <ion-note slot="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
              El campo no puede estar vacio
            </ion-note>
            
            <ion-note slot="error" *ngIf="loginForm.hasError('pattern', 'email')">
              Correo electrónico no es válido.
            </ion-note>
            
          </ion-item>
        </ion-col>
      </ion-row>

      <br><br><br>

      <ion-row>

        <ion-col size="12">
          <ion-button shape="round" fill="outline" type="submit">Ingresar</ion-button>
        </ion-col>

      </ion-row>
    </form>

  </ion-grid>

</ion-content>
